<h3>Contact Information</h3> 
   <div  id="contact">
   <span> Kali Correll | </span>
   <span> 3131 Plainfield Rd | </span>  
   <span>Cincinnati,</span>
   <span>OH</span>
   <span> 45236 | </span>
   <span>513-222-7878 | </span> 
   <span>kalicorrell@gmail.com</span>
   </div>
   <h3>Technology List</h3>

   <!-- table tags -->
<table class="table table-sm">
    <thead>
      <tr>
        <td>Git </td>
        <td>GitHub </td>
        <td>MySQL </td> 
        <td>Java </td> 
      </tr>  
    </thead>
</table>
<h3>Career Goals</h3>
<p>My goals are to solve complex probelms using code.</p>
<p>Develop new efficient strategies that help my company work smarter not harder.</p>
<p>Teach new co-workers and interns that coding is just TOO EASY!</p>
  
<app-work-experience></app-work-experience>
 <app-education *ngIf="displayEducation"></app-education>